<h1>Projects#show</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @project.each do |project| %>
    <tr>
      <td><%= project.title %></td>
    </tr>
  <% end %>
</table>

